In [ ]:
import numpy as np
import pandas as pd

In [ ]:
raw_data = pd.read_csv('drive/MyDrive/WineQT/WineQT.csv')
raw_data.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  Id
0            7.4              0.70         0.00  ...      9.4        5   0
1            7.8              0.88         0.00  ...      9.8        5   1
2            7.8              0.76         0.04  ...      9.8        5   2
3           11.2              0.28         0.56  ...      9.8        6   3
4            7.4              0.70         0.00  ...      9.4        5   4

[5 rows x 13 columns]

In [ ]:
first_data = raw_data.copy()
first_data.describe()

       fixed acidity  volatile acidity  ...      quality           Id
count    1143.000000       1143.000000  ...  1143.000000  1143.000000
mean        8.311111          0.531339  ...     5.657043   804.969379
std         1.747595          0.179633  ...     0.805824   463.997116
min         4.600000          0.120000  ...     3.000000     0.000000
25%         7.100000          0.392500  ...     5.000000   411.000000
50%         7.900000          0.520000  ...     6.000000   794.000000
75%         9.100000          0.640000  ...     6.000000  1209.500000
max        15.900000          1.580000  ...     8.000000  1597.000000

[8 rows x 13 columns]

In [ ]:
second_data = first_data.drop(['Id'],axis=1)
second_data

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1138            6.3             0.510         0.13  ...       0.75     11.0        6
1139            6.8             0.620         0.08  ...       0.82      9.5        6
1140            6.2             0.600         0.08  ...       0.58     10.5        5
1141            5.9             0.550         0.10  ...       0.76     11.2        6
1142            5.9             0.645         0.12  ...       0.71     10.2        5

[1143 rows x 12 columns]

In [ ]:
second_data.isnull()

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0             False             False        False  ...      False    False    False
1             False             False        False  ...      False    False    False
2             False             False        False  ...      False    False    False
3             False             False        False  ...      False    False    False
4             False             False        False  ...      False    False    False
...             ...               ...          ...  ...        ...      ...      ...
1138          False             False        False  ...      False    False    False
1139          False             False        False  ...      False    False    False
1140          False             False        False  ...      False    False    False
1141          False             False        False  ...      False    False    False
1142          False             False        False  ...      False    False    False

[1143 rows x 12 columns]

In [ ]:
second_data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

>> Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(second_data.drop(['quality'],axis=1))

StandardScaler()

In [ ]:
scaled_inputs = scaler.transform(second_data.drop(['quality'],axis=1))

In [ ]:
second_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [ ]:
scaled_inputs = pd.DataFrame(data = scaled_inputs,columns = ['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',])

In [ ]:
scaled_inputs.describe()

       fixed acidity  volatile acidity  ...     sulphates       alcohol
count   1.143000e+03      1.143000e+03  ...  1.143000e+03  1.143000e+03
mean   -5.711384e-16      5.855139e-16  ... -1.544405e-16 -7.768404e-16
std     1.000438e+00      1.000438e+00  ...  1.000438e+00  1.000438e+00
min    -2.124483e+00     -2.290883e+00  ... -1.924024e+00 -1.887834e+00
25%    -6.933192e-01     -7.732388e-01  ... -6.323694e-01 -8.709366e-01
50%    -2.353469e-01     -6.314838e-02  ... -2.213884e-01 -2.238203e-01
75%     4.516116e-01      6.051720e-01  ...  4.244390e-01  6.081863e-01
max     4.344377e+00      5.840349e+00  ...  7.880809e+00  4.121103e+00

[8 rows x 11 columns]

In [ ]:
targets = second_data['quality']

In [ ]:
targets_cat = targets.map({0:'poor',1:'poor',2:'poor',3:'poor',4:'poor',5:'poor'
                           ,6:'avg',
                           7:'good',8:'good',9:'good',10:'good'})

In [ ]:
targets_dummies = pd.get_dummies(targets_cat)

In [ ]:
targets_dummies = targets_dummies[['poor','avg','good']]

In [ ]:
targets_dummies

      poor  avg  good
0        1    0     0
1        1    0     0
2        1    0     0
3        0    1     0
4        1    0     0
...    ...  ...   ...
1138     0    1     0
1139     0    1     0
1140     1    0     0
1141     0    1     0
1142     1    0     0

[1143 rows x 3 columns]

In [ ]:
targets_dummies['poor'].sum(),targets_dummies['avg'].sum(),targets_dummies['good'].sum()

(522, 462, 159)

>> Saving scaler object inside file using Pickle

In [ ]:
import pickle
with open('drive/MyDrive/WineQT/WineQT_Scaler','wb') as file:
  pickle.dump(scaler,file)

>> Splitting data into train(85%), test(10%), val(5%)

In [ ]:
from sklearn.model_selection import train_test_split
train_inputs,test_and_val_inputs,train_targets,test_and_val_targets = train_test_split(scaled_inputs,targets_dummies,test_size=0.15,random_state=422,shuffle=True)

In [ ]:
train_inputs.describe()

       fixed acidity  volatile acidity  ...   sulphates     alcohol
count     971.000000        971.000000  ...  971.000000  971.000000
mean        0.023943         -0.010265  ...    0.001849   -0.003386
std         0.995884          0.998381  ...    0.973691    0.989563
min        -1.895497         -2.290883  ...   -1.571755   -1.887834
25%        -0.693319         -0.745392  ...   -0.632369   -0.870937
50%        -0.235347         -0.063148  ...   -0.221388   -0.223820
75%         0.508858          0.577325  ...    0.424439    0.608186
max         4.344377          5.840349  ...    7.880809    4.121103

[8 rows x 11 columns]

In [ ]:
test_and_val_targets.shape,test_and_val_inputs.shape

((172, 3), (172, 11))

In [ ]:
test_inputs,val_inputs,test_targets,val_targets = train_test_split(test_and_val_inputs,test_and_val_targets,
                                                                     test_size=0.33,shuffle=True,random_state=32)

In [ ]:
test_inputs.shape,test_targets.shape,val_inputs.shape,val_targets.shape

((115, 11), (115, 3), (57, 11), (57, 3))

>> Deploying into NPZ files

In [ ]:
np.savez('drive/MyDrive/WineQT/WineQT_train_data',inputs=train_inputs,targets=train_targets)

In [ ]:
np.savez('drive/MyDrive/WineQT/WineQT_test_data',inputs=test_inputs,targets=test_targets)

In [ ]:
np.savez('drive/MyDrive/WineQT/WineQT_val_data',inputs=val_inputs,targets=val_targets)